# Port Configuration
PORT=3000

# MongoDB Connection String (e.g. MongoDB Atlas or Local MongoDB)
# Leave blank to use built-in local JSON database engine (/data)
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.example.mongodb.net/portfolio_db?retryWrites=true&w=majority

